*{
    margin: 0;
    padding: 0;
}
.image{
    background-image: url("image/camera.webp");
    height: 100px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}
.home ul{
    display: flex;
    margin-right: 50px;
    margin-top: 20px;
}
.home ul li{
    list-style: none;
    padding: 20px;
    font-size: 20px;
}
.image2{
    background-image: url("image/flower.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image2 h1{
    font-size: 60px;
}
.bottom{
    display: flex;
    margin-top: 73px;
    margin-left: 80px;
}
.sports{
    width: 50%;
}
p{
    font-size: 23px;
    padding-bottom: 40px;
    text-align: justify;
}
.form{
    width: 50%;
    margin-left: 80px;
    font-size: 12px;
}
input{
    height: 50px;
    width: 500px;
    padding-left: 7px;
}
.text{
    position: sticky;
    top: 0;
}
